body{
  background-color: $gray-lighter;
}

.site-content, .site-footer {
  background-color: white;
}

.about-open {
  background-color: #ddf0d5;
}

.about-open::before {
  background-image: url("/Content/Images/michigan-network-graphic.svg");
  opacity: .2;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right center;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
