
.btn-theme {
  @extend .btn;
  border: 0 none;
  padding: 14px 24px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
  text-decoration: none !important;

  &:hover, &:focus, &:active, &.active {
    text-decoration: none !important;
    outline: 0 none;
  }
}

.btn-theme-small {
  @extend .btn;
  transform: scale(0.8);
  font-size: .95rem;
  transform-origin: left top;
  letter-spacing: .5px;
  padding: 14px 20px;
}

.btn-theme-small-center {
  @extend .btn;
  transform: scale(0.8);
  font-size: .95rem;
  transform-origin: top;
  letter-spacing: .5px;
  padding: 14px 20px;
}

.btn-theme-small-right {
  @extend .btn;
  transform: scale(0.8);
  font-size: .95rem;
  transform-origin: right top;
  letter-spacing: .5px;
  padding: 14px 20px;
}

.btn-theme-small-left {
  @extend .btn-theme-small;
}

.btn-theme-moss {
    @extend .btn-theme;
    background-color: $moss;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background-color: $moss;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-primary-dark;
    }
}


.btn-theme-outline-moss {
    @extend .btn-theme;
    border: 2px solid $theme-primary;
    padding: 8px 18px;
    color: $theme-primary;
    border-radius: 50px;

    &:hover, &:focus, &:active, &.active  {
        background: $theme-primary;
        color: #FFFFFF;
        text-decoration: none !important;
    }
}

.btn-theme-msugreen {
    @extend .btn-theme;
    background: $msu-green;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $msu-green;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-secondary-dark;
    }
}

.btn-theme-secondary-outline {
    @extend .btn-theme;
    border: 2px solid $theme-secondary;
    @media print {border: 2px solid $gray-light;}
    padding: 8px 18px;
    color: $theme-secondary;
    border-radius: 50px;

    &:hover, &:focus, &:active, &.active  {
        background: $theme-secondary;
        color: #FFFFFF;
        text-decoration: none !important;
    }
}


.btn-theme-honeydew {
    @extend .btn-theme;
    background: $honeydew;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background: $honeydew;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-tertiary-dark;
    }
}

.btn-theme-outline-honeydew {
    @extend .btn-theme;
    border: 2px solid $honeydew;
    padding: 8px 18px;
    color: $honeydew;
    border-radius: 50px;

    &:hover, &:focus, &:active, &.active  {
        background: $honeydew;
        color: $moss;
        text-decoration: none !important;
    }
}


.btn-theme-outline-white {
  @extend .btn-theme;
  border: 2px solid white;
  padding: 8px 18px;
  color: white;
  border-radius: 50px;

  &:hover, &:focus, &:active, &.active  {
      box-shadow: 0 0 0 5px $theme-primary-dark;
      background: white;
      color: $theme-primary-dark;
      text-decoration: none !important;
  }
}