// Framework Colors
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #0275d8;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

// Global Colors
//

$twitter:                   #1da1f2;
$facebook:                  #3b5998;
$youtube:                   #ff0000;
$instagram:                 #c32aa3;
$rss:                       #F4911E;
$linkedin:                  #007bb5;
$snapchat:                  #fffc00;
$google:                    #4285f4;



// Theme Colors
// Custom Brand Colors for Site.

// In case you need more than three theme colors
// quaternary, quinary, senary, septenary, octonary, nonary, denary

/* RGB */
$honeydew:  rgba(194, 199, 108, 1.0);
$moss:      rgba(41, 119, 112, 1.0);
$msu-green: rgba(24, 69, 59, 1.0);

$tangerine: rgba(216, 127, 39, 1.0);
$copper:    rgba(187, 83, 39, 1.0);
$brick:     rgba(132, 22, 24, 1.0);

$tangerine-80: rgba(216, 127, 39, 0.80);
$copper-80:    rgba(187, 83, 39, 0.80);
$brick-80:     rgba(132, 22, 24, 0.80);

$moss-light:            lighten($moss, 10%);
$moss-dark:             darken( $moss, 15%);
$msu-green-dark:        darken( $msu-green, 5%);

$honeydew-light:        lighten($honeydew, 5%);
$honeydew-dark:         darken( $honeydew, 5%);

$tangerine-light:        lighten($tangerine, 5%);
$tangerine-dark:         darken( $tangerine, 5%);

$copper-light:        lighten($copper, 5%);
$copper-dark:         darken( $copper, 5%);

$brick-light:        lighten($brick, 5%);
$brick-dark:         darken( $brick, 5%);


$theme-primary:             $moss;
$theme-primary-light:       lighten($theme-primary, 10%);
$theme-primary-dark:        darken( $theme-primary, 15%);

$theme-secondary:           $msu-green;
$theme-secondary-dark:      darken($theme-secondary, 5%);

$theme-tertiary:            $honeydew;
$theme-tertiary-dark:       darken($theme-tertiary, 5%);


$theme-accent:            	$tangerine;
$theme-accent-dark:       	darken($theme-accent, 15%);

$theme-link-color:          $moss;
$theme-link-color-dark:     darken($theme-link-color, 15%);

$theme-link-highlight:      $honeydew;

$faded-green:               rgba(128, 171, 162, 1);
$faded-green-30:            rgba(128, 171, 162, 0.3);

// Profile Colors
// Colors specifically for the profile header section on the
// individual people pages

$profile-bg:               	transparent;
$profile-heading-color:     $theme-accent;
$profile-text-color:        $gray;
$profile-email-bg:          $theme-primary-dark;
$profile-email-text-color:  white;
$profile-email-link-color:  white;

// Logo Colors
// Site logo is an SVG and fill colors are set here

.cls-1,.cls-2 {fill:#FFFFFF;}
.cls-2 {opacity:0.5;}

@media print {
    .cls-1 {fill:#000000;}
    .cls-2 {fill:#AAAAAA;}
}

.disabled > a {
    color: $theme-primary-dark !important;
    &:hover {color: $theme-primary !important;}
}
