@media (min-width: 1628px){
  .site-header, .site-content, .site-footer {
    width: 1628px !important;
    margin: 0 auto;
  }
}

.site-header {
  // background: linear-gradient(0deg, #007d7d 0%, #18453b 100%);
  background-image: url("/Content/Images/michigan-network-graphic.svg");
  background-size: cover;
  background-position: center -500px;
  background-color: $msu-green;
  z-index: 1000;
  position: relative;
  padding-bottom: 30px;
}

.site-nav {
  position: relative;
  z-index: 1000;
  padding: 12px;
  display: block;
  @include media-breakpoint-up(lg){display: flex;}

  .nav-link{
    font-weight: bold;
  }

  li {
    @include media-breakpoint-down(md){border-bottom: 1px solid #444;}

    a {
    	color: white;
    	font-weight: 500;
    	font-size: 14px;
      padding: 4px 10px;
      margin-right: 2px;
      position: relative;
      z-index: 10;
      @include media-breakpoint-up(xl){margin-right: 10px;}

      text-decoration: none !important;
      display: flex;
      align-items: center;

      &:hover, &:focus {
        background-color: $theme-primary !important;
        @include media-breakpoint-down(md){ background-color: transparent !important; }
        color: white;
        position: relative;
        z-index: 1;

        &::before { color: inherit; }
        &::after { color: inherit; }
      }

      &.active {
        background-color: $theme-primary-light;
        color: white;
        border-radius: 50px;

        &:hover, &:focus {
          background-color: $theme-primary;
          color:white;
        }
      }
    }

    &:last-child {
      a {margin-right: 0;}
    }
  }

  li.show {
    a {
      &:hover, &:focus {

      }
    }
  }

  .dropdown-menu {
    background-color: $theme-primary !important;
    border: none !important;
    padding: 15px 10px;
    top: 0px !important;
    width: calc(100% - 26px) !important;
    position: relative;

    span {
      display: block;

      a[href="#"]{
        opacity: .5;
      }
    }

    @include media-breakpoint-up(md){
      top: 6px !important;
      width: auto !important;
      border-top: none !important;
    }
  }

  .dropdown-item {
    &:hover, &:focus {
      background-color: $theme-primary-light !important;
    }
  }
}

.dm-target{
  @include media-breakpoint-down(md){
    margin-left: 15px;
  }
}


.page-header {
  padding-top:    30px;
  padding-bottom: 30px;
  background-image: linear-gradient(90deg, $brick-80 0%, $copper-80 60%, $tangerine-80 100%), url("/Content/Images/michigan-network-graphic-light.svg");
  background-size: cover;
  background-position: center -720px;
  color: white;

  aside {
    font-size: 14px;
    font-weight: 600;
    padding: 0px 10px;
    background-color: darken($color: $brick, $amount: 10%);
    display: inline-block;
  }
}

hr {
  height: 6px;
  background-color: $brick;
  background-image: linear-gradient(-90deg, $brick-80 0%, $copper-80 60%, $tangerine-80 100%);
  border: none;
  border-radius: 8px;
  opacity: .5;
  margin-top: 40px;
}