.intro {
  min-height: 400px;
  align-items: center;
  background-color: $honeydew;
  background-image: url("/Content/Images/michigan-network-graphic-light.svg");
  background-size: cover;
  background-position: center right;
}

.intro-heading {
  background-image: linear-gradient(90deg, rgba(239, 86, 135, 0.80) 0%, rgba(252, 181, 96, 0.50) 60%, rgba(252, 181, 96, 0.0) 100%), url("/Content/Images/Cara_1056.jpg");
  min-height: 500px;
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
  
  h1 {
    font-size: 3rem;
    letter-spacing: -1px;
    line-height: 1.1;
    font-weight: 900;
    color: white;
  }
}

.intro-text {
  padding: 30px;
  font-weight: 500;
}

.promo {
  margin-top: 30px;
  margin-bottom: 30px;

  .card {
    border-radius: 12px !important;
    border: none !important;
    background-color: $moss;
    color: white;
  }
  
  .promo-wrapper {
    background-color: $moss;
    border-radius: 12px;
    
  }

  .promo-image {
        
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center center;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 300px;
    }
  }

  .promo-content {
    padding: 30px;
    font-weight: 500;
  }

}

.quick-links {

  .card {
    border-radius: 12px !important;
    border: none !important;
  }

  .card-img-top {
    border-radius: 12px 12px 0 0;
  }

  .card-body {
    border-radius: 0 0 12px 12px !important;
  }

  h2{
    letter-spacing: 2px;
    font-weight: 800;
  }

  p {
    font-size: 1rem;
    line-height: 24px;
  }

  img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center center;
  }

  .quick-link {
    padding: 20px;
    background-color: #ddf0d5;
    height: 100%;
    position: relative;

    p {margin-bottom: 60px;}

    a {
      position: absolute;
      bottom: 20px;
    }
  }
}