@import url("https://engage.msu.edu/cdn/fonts/metropolis/metropolis.css");
@import url("https://engage.msu.edu/cdn/fonts/metropolis/uoe-metropolis.css");

$metropolis: 'Metropolis', $font-family-sans-serif;
.metropolis {font-family: $metropolis;}


body {
	font-family: $metropolis;
	font-size: clamp(1rem, 1.618vw, 1.25rem) !important; 
	line-height: clamp(1.95rem, 1.6vw, 2.1875rem) !important;
	font-optical-sizing: auto !important;
	color: $gray-dark !important;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-moz-osx-font-smoothing: grayscale; /* Fix for firefox rendering */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}

h1 {
	font-size: clamp(3rem, 1.618vi * 2, 3.5rem); 
}

h2 {
    font-size: clamp(2.25rem, 1.618vi * 1.5, 2.5rem);
}

.page h2 {color: $brick;}

h3 {
	font-size: clamp(1.75rem, 1.618vi * 1.5, 2rem); 
}

.fax a {
    color: $gray !important;
}

abbr {
	text-decoration: none;
}

ol, ul {
	margin-bottom: 40px;
	line-height: 1.85;
}

ol > li::marker {
  font-weight: bold;
}